#main {
    background-color: lightgray;
    text-align: center;
}

#title {

}

#subtitle {
    
}

#img-div {

}

#img-caption {

}

#tribute-info {
    position: fixed;
    left: 200px;
}
